* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}
/* SECTION 1 */
.sec1 {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
.sec1 a { color: #fff; text-decoration: none; transition: .5s; }
.sec1 header {
    width: 100%;
    height: 100%;
    background: #0005;
}
.sec1 nav {
    line-height: 50px;
    color: #fff;
    display: flex;
    background: #0889;
    box-shadow: 0 1px 4px #000; 
    overflow-x: auto;
}
.sec1 .nav-brand {
    font-style: oblique;
    font-weight: 600;
    font-size: 26px;
    margin: 0 auto;
}
.sec1 ul {
    display: flex;
    flex-direction: row;
    margin: auto 150px auto auto;
}
nav .nav-brand { 
    position: relative;
    user-select: none;
    padding: 10px 15px;
}
.nav-brand .txt {
    padding-left: 10px;
}
.sec1 li {
    position: relative;
    list-style-type: none;
    user-select: none;
}
.sec1 li a {
    position: relative;
    padding: 10px 15px;
}
.sec1 li a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: crimson;
    transition: .5s cubic-bezier(.9, 0, .33, 1);
}
/* HOVER */
.sec1 li a:hover::before { width: 100%; }
.sec1 a:hover { color: #ececec; } 
/* HOVER END*/
/* SECTION 1 END */
/* CONTAINER */
.container {
    margin: 130px auto 0 auto;
    width: 100%;
    min-height: 100vh;
}
.subcontainer {
    margin: 0 50px;
    width: 75%;
    border-radius: 10px;
    padding: 50px;
    background: #fff;
}
.subcontainer *:not(h3) {
    display: block;
    margin: 20px 0;
    width: 100%;
}

.subcontainer *:not(.btn):not(h3) {
    text-align: default;
    font-size: 1em;
    padding: 10px;
    border-radius: 4px;
    border: 0;
    outline: none;
    background: #eee;
}

.subcontainer *:not(.btn):not(h3):focus {
    background: #ddd;
}

.subcontainer h3 {
    text-align: center;
    font-size: 2em;
}

.container .btn {
    display: inline;
    padding: 10px 40px;
    text-align: center;
    background: #4a00c2;
    border-radius: 5px;
}
.container .btn:hover {
    background: #4200ac;
}
/* CONTAINER END*/ 
/* FOOTER */
#footer {
    padding: 5px;
    text-align: center;
    background: #ccc;
}
/* FOOTER END */
@media screen and (max-width: 696px) {
    .sec1 ul { margin-right: 10px; }
    .sec1 li a, .sec1 .nav-brand { padding: 5px 10px; }
}

@media screen and (max-width: 576px) {
    .container .btn {
        display: block;
    }
}

@media screen and (max-width: 889px) {
    .nav-brand .txt {
        display: none;
    }
}
@media screen and (min-width: 889px) {
    .subcontainer {
        width: 50%;
        margin: 0 auto;
    }
}
